<div class="modal-overlay" (click)="closeModal.emit()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Select a Folder</h2>
      <div class="header-actions">
        <button
          class="select-button"
          (click)="selectFolder(selectedPath())"
          [disabled]="!selectedPath()"
        >
          Select
        </button>
        <button class="close-button" (click)="closeModal.emit()">&times;</button>
      </div>
    </div>
    <div class="path-and-filter-bar">
      <input type="text" placeholder="Path..." [formControl]="pathControl" class="path-input" />
      <input
        type="text"
        placeholder="Filter..."
        [formControl]="filterControl"
        class="filter-input"
      />
    </div>
    <div class="modal-body">
      <div class="columns-container">
        @for (column of columns(); track column) {
        <div class="column">
          <ul class="file-list">
            @for (file of column; track file.path) {
            <li
              [class.directory]="file.isDir"
              [class.selected]="selectedPath().startsWith(file.path)"
              (click)="navigateTo(file.path)"
            >
              @if (file.isDir) {
              <span class="file-icon">&#128193;</span>
              }@else{
              <span class="file-icon">&#128196;</span>
              }

              <span class="file-name">{{ file.name }}</span>
              <span *ngIf="file.isDir" class="arrow">&gt;</span>
            </li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </div>
</div>
